In [2]:
import pandas as pd

# CSV 파일로부터 데이터 로드
file_path = "../data/group_data.csv"
data = pd.read_csv(file_path)

In [3]:
# 'value' 값이 10 이상이고 20 이하인 행만 필터링
filtered_data = data.loc[(data["value"] >= 10) & (data["value"] <= 20)]
print(filtered_data) # 필터링된 결과 출력

   category      value
2         A  19.421759
3         C  18.494482
4         C  12.607390
5         D  16.400779
6         A  17.696806
9         B  11.184799
11        C  18.074589
12        C  16.615390
16        D  15.803912
17        D  18.453938
20        B  17.604129
21        A  19.071705
22        B  14.468325
23        D  14.018967
26        B  19.639949
29        D  16.774401
32        D  19.820870
37        A  18.504963
39        C  10.062155
40        C  18.901641
43        D  17.408649
44        D  15.957532
45        D  17.491215
48        B  17.351199
52        C  16.489735
53        D  18.361689
54        C  18.039459
55        D  12.682425
59        A  18.827064
60        C  12.923146
61        C  17.896773
62        A  18.286427
63        A  15.988614
64        C  19.193571
69        B  19.627770
70        B  10.406144
71        B  19.867431
74        A  19.038195
76        D  19.826441
77        D  14.156610
81        D  15.453063
83        D  12.990745
86        B  15.047318
87        A  17.168511
89        B  17.482622
90        D  12.246683
92        B  14.688481
94        B  15.402879
96        B  16.083734
97        D  18.389692
99        A  13.845678

In [5]:
data.describe()

            value
count  100.000000
mean    19.849073
std      4.693357
min      6.901274
25%     17.069984
50%     19.823655
75%     22.658324
max     32.316211

In [4]:
# 'category' 열을 기준으로 그룹화하여, 각 그룹의 'value' 평균 계산
grouped_mean = data.groupby(by="category")['value'].mean()
print(grouped_mean)  # 그룹별 평균값 출력

category
A    20.567525
B    20.007946
C    20.073391
D    19.052961
Name: value, dtype: float64

In [12]:
# 평균값을 기준으로 내림차순 정렬
sorted_grouped_mean = grouped_mean.sort_values(ascending=False)
print(sorted_grouped_mean)  # 정렬된 평균값 출력

category
A    20.567525
C    20.073391
B    20.007946
D    19.052961
Name: value, dtype: float64