In [1]:
# 포함 기술스택: python, pandas
import pandas as pd

In [2]:
# 데이터 로드
file_path = "../data/movie_data.csv"
movies = pd.read_csv(file_path)

In [3]:
movies.head()

                 Title          Director  Year  Rating
0                 Jaws     James Cameron  1985     8.2
1                 E.T.  Steven Spielberg  2019     6.0
2        Jurassic Park  Steven Spielberg  2002     8.4
3     Schindler's List  Steven Spielberg  1999     8.7
4  Saving Private Ryan     James Cameron  1980     9.2

In [ ]:
# 사용자로부터 감독 이름 입력 받기
director_name = input("감독의 이름을 입력하세요: ") # James Cameron

In [6]:
# 특정 감독의 영화 필터링
director_movies = movies.loc[movies['Director']==director_name]

In [7]:
director_movies.head()

                  Title       Director  Year  Rating
0                  Jaws  James Cameron  1985     8.2
4   Saving Private Ryan  James Cameron  1980     9.2
8     War of the Worlds  James Cameron  2009     8.3
10             The Post  James Cameron  1973     6.8
15      West Side Story  James Cameron  1988     8.9

In [8]:
# 평균 평점 계산
average_rating = director_movies["Rating"].mean()
print(f"{director_name} 감독 영화의 평균 평점: {average_rating:.2f}")

James Cameron 감독 영화의 평균 평점: 7.87

In [9]:
# 가장 높은 평점을 받은 영화 찾기
best_movie = director_movies.loc[director_movies['Rating'].idxmax()]
print(f"가장 높은 평점을 받은 영화: {best_movie['Title']} ({best_movie['Rating']})")

가장 높은 평점을 받은 영화: Saving Private Ryan (9.2)