In [1]:
import pandas as pd

In [2]:
# 1. 교통 데이터 생성
data = pd.DataFrame({
    'Trip ID': [1, 2, 3, 4, 5],  # 각 트립(여행)의 고유 ID
    'Date': pd.date_range(start='2023-03-01', periods=5, freq='D')  # 2023년 3월 1일부터 5일간 날짜 생성
})

In [5]:
# 2. 요일(day of the week) 컬럼 추가
# pandas의 dt.dayofweek 속성을 사용하여 요일 정보를 숫자로 변환
# 0: 월요일, 1: 화요일, ..., 5: 토요일, 6: 일요일
data['Day of Week'] = data['Date'].dt.dayofweek

In [6]:
# 3. One-Hot Encoding 적용 (get_dummies() 사용하지 않고 구현)
# 0부터 6까지 요일(월~일)에 대한 개별 컬럼을 생성하여 0으로 초기화
for i in range(6):  # 요일은 0~6까지 존재 (월~일)
    data[f'Day_{i}'] = (data['Day of Week'] == i).astype(int)  # 해당 요일이면 1, 아니면 0

In [7]:
data.head()

   Trip ID       Date  Day of Week  Day_0  Day_1  Day_2  Day_3  Day_4  Day_5
0        1 2023-03-01            2      0      0      1      0      0      0
1        2 2023-03-02            3      0      0      0      1      0      0
2        3 2023-03-03            4      0      0      0      0      1      0
3        4 2023-03-04            5      0      0      0      0      0      1
4        5 2023-03-05            6      0      0      0      0      0      0

In [8]:
# 4. 'Day of Week' 컬럼 삭제 (One-Hot Encoding 후 필요 없으므로 제거)
data = data.drop(columns="Day of Week")

print(data)

   Trip ID       Date  Day_0  Day_1  Day_2  Day_3  Day_4  Day_5
0        1 2023-03-01      0      0      1      0      0      0
1        2 2023-03-02      0      0      0      1      0      0
2        3 2023-03-03      0      0      0      0      1      0
3        4 2023-03-04      0      0      0      0      0      1
4        5 2023-03-05      0      0      0      0      0      0