In [17]:
import pandas as pd

df = pd.read_csv("../data/predictions.csv")
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,predictions
0,41505.0,-16.526507,8.584972,-18.649853,9.505594,-13.793819,-2.832404,-16.701694,7.517344,-8.507059,...,1.190739,-1.127670,-2.358579,0.673461,-1.413700,-0.462762,-2.018575,-1.042804,364.19,1
1,44261.0,0.339812,-2.743745,-0.134070,-1.385729,-1.451413,1.015887,-0.524379,0.224060,0.899746,...,-0.213436,-0.942525,-0.526819,-1.156992,0.311211,-0.746647,0.040996,0.102038,520.12,0
2,35484.0,1.399590,-0.590701,0.168619,-1.029950,-0.539806,0.040444,-0.712567,0.002299,-0.971747,...,0.102398,0.168269,-0.166639,-0.810250,0.505083,-0.232340,0.011409,0.004634,31.00,0
3,167123.0,-0.432071,1.647895,-1.669361,-0.349504,0.785785,-0.630647,0.276990,0.586025,-0.484715,...,0.358932,0.873663,-0.178642,-0.017171,-0.207392,-0.157756,-0.237386,0.001934,1.50,0
4,168473.0,2.014160,-0.137394,-1.015839,0.327269,-0.182179,-0.956571,0.043241,-0.160746,0.363241,...,-0.238644,-0.616400,0.347045,0.061561,-0.360196,0.174730,-0.078043,-0.070571,0.89,0

In [18]:
print(df["predictions"].value_counts())

predictions
0    99
1     1
Name: count, dtype: int64

In [19]:
df.info()
X_pred = df.drop(columns=["predictions"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         100 non-null    float64
 1   V1           100 non-null    float64
 2   V2           100 non-null    float64
 3   V3           100 non-null    float64
 4   V4           100 non-null    float64
 5   V5           100 non-null    float64
 6   V6           100 non-null    float64
 7   V7           100 non-null    float64
 8   V8           100 non-null    float64
 9   V9           100 non-null    float64
 10  V10          100 non-null    float64
 11  V11          100 non-null    float64
 12  V12          100 non-null    float64
 13  V13          100 non-null    float64
 14  V14          100 non-null    float64
 15  V15          100 non-null    float64
 16  V16          100 non-null    float64
 17  V17          100 non-null    float64
 18  V18          100 non-null    float64
 19  V19          100 non-null    float64
 20  V20          100 non-null    float64
 21  V21          100 non-null    float64
 22  V22          100 non-null    float64
 23  V23          100 non-null    float64
 24  V24          100 non-null    float64
 25  V25          100 non-null    float64
 26  V26          100 non-null    float64
 27  V27          100 non-null    float64
 28  V28          100 non-null    float64
 29  Amount       100 non-null    float64
 30  predictions  100 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 24.3 KB

In [20]:
# Tracking Server ì„¤ì •
import mlflow

mlflow.set_tracking_uri(uri="http://127.0.0.1:5000")
mlflow.set_experiment("creditcard_experiment_6_4")

MODEL_URI = "runs:/5240fefe24da433ab63ce23c7186ada9/model" 

loaded_model = mlflow.pyfunc.load_model(MODEL_URI)
new_predictions = loaded_model.predict(X_pred)
df["new_predictions"] = new_predictions

In [21]:
print(df["new_predictions"].value_counts())

new_predictions
0    99
1     1
Name: count, dtype: int64