In [2]:
import pandas as pd  # Pandas 라이브러리 불러오기

# 1. Titanic 데이터셋 불러오기 (파일 경로는 사용자 환경에 맞게 변경)
df = pd.read_csv("C:/Users/SSAFY/Desktop/TIL/ds_lectures/101_offline_sh/day1/data_analysis_ws_1_1/data/titanic.csv")  # Titanic 데이터셋 파일명을 입력하세요.

In [3]:
# 2. 데이터셋 기본 탐색
# 데이터프레임의 전체적인 정보를 확인 (컬럼, 데이터 타입, 결측치 개수 등)
print("데이터프레임 기본 정보:")
print(df.info())  # 데이터프레임의 전체 구조를 확인하는 함수 

# 데이터프레임의 크기(행, 열 개수) 확인
print("\n데이터프레임 크기:")
print(df.shape)  # 데이터의 행과 열 개수를 확인하는 속성 

# 상위 5개 행 출력
print("\n데이터프레임 상위 5개 행:")
print(df.head())  # 데이터의 처음 몇 개 행을 미리 확인하는 함수

데이터프레임 기본 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

데이터프레임 크기:
(891, 12)

데이터프레임 상위 5개 행:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
# 3. 결측치 확인
# 각 컬럼별 결측치 개수를 확인
print("\n각 컬럼별 결측치 개수:")
print(df.isna().sum())  # 결측치를 확인하는 함수

각 컬럼별 결측치 개수:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
# 4. 결측치 처리
# (1) Age 컬럼의 결측치를 중앙값(median)으로 대체
age_median = df["Age"].median()  # 중앙값을 구하는 함수 
df["Age"] = df["Age"].fillna(age_median)  # 결측치를 중앙값으로 채우는 함수 

# (2) Embarked 컬럼의 결측치를 최빈값(mode)으로 대체
embarked_mode = df["Embarked"].mode()[0]  # 최빈값을 구하는 함수
df["Embarked"] = df["Embarked"].fillna(embarked_mode)  # 결측치를 최빈값으로 채우는 함수

In [6]:
# 5. 결측치 처리 후 다시 확인
print("\n결측치 처리 후 각 컬럼별 결측치 개수:")
print(df.isna().sum())  # 결측치가 잘 처리되었는지 확인하는 함수

결측치 처리 후 각 컬럼별 결측치 개수:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [7]:
# 6. 주요 통계 정보 확인
# 숫자형 데이터의 기초 통계 확인 (평균, 표준편차, 최소/최대값 등)
print("\n숫자형 데이터 요약 통계:")
print(df.describe())  # 숫자형 데이터의 통계 요약을 출력하는 함수

숫자형 데이터 요약 통계:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
# 7. 범주형 데이터(객실 등급, 성별, 탑승항) 값 분포 확인
print("\n객실 등급(Pclass)별 승객 수:")
print(df["Pclass"].value_counts())  # Pclass 값 개수를 세는 함수

print("\n성별(Sex)별 승객 수:")
print(df["Sex"].value_counts())  # Sex 값 개수를 세는 함수 

print("\n탑승 항구(Embarked)별 승객 수:")
print(df["Embarked"].value_counts())  # Embarked 값 개수를 세는 함수

연령별 승객 수:
Age
28.00    202
24.00     30
22.00     27
18.00     26
30.00     25
        ...
24.50      1
0.67       1
0.42       1
34.50      1
74.00      1
Name: count, Length: 88, dtype: int64

객실 등급(Pclass)별 승객 수:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

성별(Sex)별 승객 수:
Sex
male      577
female    314
Name: count, dtype: int64

탑승 항구(Embarked)별 승객 수:
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64