In [ ]:
# 사전 준비
'''
../assignment1/output/alert_lifetime_summary.csv 파일을
현 디렉토리의 data 폴더 안에 넣어주세요.
이전에 활용한 CustomerLoyaltyProgram.csv 파일도 넣어주세요.
'''

In [ ]:
# 시나리오 설명
'''
Assignment 1에서 생성된 고객 알림 데이터에는 고객 ID와 alert 여부 정보만 포함되어 있습니다.
김싸피가 속한 마케팅 팀은 각 국가별로 알림 대상 고객을 별도 파일로 분리하여 마케팅 담당자에게 전달하고자 합니다.
이를 위해 고객 원본 데이터에서 지역 정보를 병합하고, alert == "yes"인 고객을 국가 단위로 분할하여 저장하세요.
'''

In [ ]:
# 요구 사항
'''
assignment1/output/alert_lifetime_summary.csv 파일을 불러옵니다.
CustomerLoyaltyProgram.csv 파일도 data 폴더에 위치합니다.
Loyalty# 기준으로 지역 정보를 병합합니다,
alert == "yes" 조건으로 필터링합니다.
국가(Country) 기준으로 그룹핑합니다.
../output/reminder_by_region/ 폴더에 국가별 CSV 저장합니다.
'''

In [1]:
# 1. 라이브러리 불러오기
import pandas as pd
import os

In [3]:
# 2. 데이터 불러오기
# Assignment 1에서 저장된 알림 대상 고객 데이터를 불러옵니다
summary_df = pd.read_csv("../output/alert_lifetime_summary.csv")

# 고객 지역 정보 (CustomerLoyaltyProgram.csv)를 불러옵니다
region_df = pd.read_csv("../data/CustomerLoyaltyProgram.csv")

In [4]:
region_df.head()

,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,...,LoyaltyStatus,Product Line,Coupon Response,Count,Quantity Sold,Unit Sale Price,Unit Cost,Revenue,Customer Lifetime Value,Loyalty Count
0,837810.0,Abigail,Goris,Abigail Goris,Canada,British Columbia,Dawson Creek,55.759627,-120.237662,U5I 4F1,...,Bronze,Computers and Home Office,Coupon 6,1.0,3.0,"$1,182.00","$1,004.70","$3,546.00",8842.65,1.0
1,707928.0,Ada,Glaude,Ada Glaude,Germany,Bremen,Bremen,53.079296,8.801694,28759,...,Bronze,Computers and Home Office,Coupon 1,1.0,1.0,$434.00,$368.90,$434.00,3508.57,1.0
2,901442.0,Ada,Staback,Ada Staback,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,...,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,$201.00,$170.85,$402.00,8044.87,1.0
3,237303.0,Adam,Boner,Adam Boner,Canada,Ontario,Sudbury,46.522099,-80.953035,M5V 1G5,...,Bronze,Computers and Home Office,Coupon 4,1.0,3.0,$757.00,$643.45,"$2,271.00",8660.84,1.0
4,348835.0,Adam,Dunnegan,Adam Dunnegan,Canada,Manitoba,Winnipeg,49.895136,-97.138374,R2C 0M5,...,Bronze,Computers and Home Office,Coupon 1,1.0,2.0,$161.00,$136.85,$322.00,25464.82,1.0

In [6]:
summary_df.head()

   Loyalty#      누적가치      Customer Name alert
0  100018.0   7919.20         Mina Smida    no
1  100055.0  39769.56   Sadie Straseskie    no
2  100102.0   2887.74  Rigoberto Palacio    no
3  100119.0   5146.90       Rheba Stonum    no
4  100124.0   2248.45         Soo Schier    no

In [7]:
# 3. 지역 병합 정보 생성
# Loyalty#를 기준으로 병합할 지역 정보 테이블을 생성합니다
region_info = region_df[["Loyalty#", "Country", "Province or State", "City"]].drop_duplicates()

# 고객 요약 정보와 병합하여 지역 정보를 포함한 데이터프레임을 생성하세요
merged_df = summary_df.merge(region_info, on="Loyalty#", how="inner")

In [8]:
# 4. 알림 대상 필터링
# 'alert' 값이 'yes'인 데이터만 필터링하세요
alert_df = merged_df[merged_df["alert"] == "yes"].copy()

In [9]:
# 5. 결과 저장 폴더 만들기
# reminder_by_region 경로를 생성하세요
output_dir = "../output/reminder_by_region"
os.makedirs(output_dir, exist_ok=True)

In [10]:
# 6. 국가별로 알림 고객 분리 저장
# Country를 기준으로 그룹핑하여 파일을 나눠 저장합니다
for country, group in alert_df.groupby("Country"):
    filename = f"reminder_{country.replace(' ', '_')}.csv"
    save_path = os.path.join(output_dir, filename)
    group.to_csv(save_path, index=False)
    print(f"[{country}] 저장 완료 - {len(group)}명")

[Canada] 저장 완료 - 251명
[Germany] 저장 완료 - 241명
[United Kingdom] 저장 완료 - 229명
[United States] 저장 완료 - 291명

In [11]:
# 7. 결과 확인
# 저장 전 데이터 예시를 확인합니다
alert_df.head( )

,Loyalty#,누적가치,Customer Name,alert,Country,Province or State,City
40,100616.0,61850.19,Melodi Choate,yes,Germany,Bayern,Nurnberg
57,100823.0,122269.36,Keturah Haas,yes,United Kingdom,Greater London,London
111,101544.0,64839.92,Travis Hutching,yes,United States,California,San Francisco
112,101544.0,64839.92,Travis Hutching,yes,Canada,Quebec,Montreal
428,105490.0,51016.07,Donetta Vanmarter,yes,Germany,Nordrhein-Westfalen,Dusseldorf